body {
    background-color: #c2c2c2;
    margin: auto;
}

#main {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#main-container {
    border-spacing: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #e4e4e482;
    padding: 5px;
    border-color: #cdcdcd;
    border-style: groove;
    display: flex;
    flex-direction: column;
}

#logo {
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    padding-right: 256px;
    padding-left: 256px;
    padding-bottom: 326px;
}



#footer-container {
    display: flex;
    justify-content: center;
}

#small-git-hub-logo {
    margin: 0;
    background: no-repeat;
    padding: 20px;
    background-image: url("/assets/github-logo.png");
    filter: opacity(100%);
    background-size: contain;
    display: flex;
}

#small-todo-logo {
    margin: 0;
    background: no-repeat;
    padding: 24px;
    background-image: url("/assets/logo.png");
    filter: opacity(100%);
    background-size: contain;
    display: flex;
}

#footer-hr {
    width: 470px;
    margin: auto;
}

#copywrite {
    margin: 5px;
}

footer {
    background-color: #0c92bf24;
    display: flex;
    justify-content: space-between;
    border-radius: 16px
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    border-radius: 16px
}

li {
    border-left: 1px solid #bbb;
}

li a {
    display: block;
    box-shadow: #000000;
    color: white;
    text-align: center;
    padding: 7px 9px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0c92bf54;
}

.active {
    background-color: #0C92BF;
}
.bottom-footer {
    font-size: small;
    display: flex;
    justify-content: center;
margin-top: 5px;
}
.bottom-footer i {
    color: #000000;
}
.bottom-footer a {
    margin: 0 5px 0 5px;
    color: #000000;
}
.heart {
    color: rgb(255, 0, 0);

}
.bottom-footer a:visited {
    color: #00000000;
}
.footer-link a:hover{
    color: #0C92BF;
}
.fa-solid {
    font-size: 15px;
    padding: 3px;
}

#profile-pic {
    width: 20%;
        border-radius: 50%; 
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
